<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor='cyan1'>

    <form action='login' method='post'>
           {% csrf_token %}

           
           <input type='text' name='username' placeholder='username'><br>           
           <input type='text' name='password' placeholder='password'><br>          
           <input type="submit" >     
    </form> 


</body>
</html>