<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor='cyan1'>

    <form action='register' method='post'>
           {% csrf_token %}

           <input type='text' name='first_name' placeholder='first name'><br>
           <input type='text' name='last_name' placeholder='last name'><br>
           <input type='text' name='username' placeholder='username'><br>
           <input type='text' name='email' placeholder='email'><br>
           <input type='text' name='password1' placeholder='password'><br>
           <input type='text' name='password2' placeholder='confirm password'><br>
           <input type="submit" >     
    </form>
    
     {% for message in messages %}
        <h3> {{message}} </h3>
     {% endfor %}
    


</body>
</html>